In [82]:
# gestione missing values:
# togliere campione,
# se per 900 campioni abbiamo solo 10 campioni e ognuno di questi ha una sola domanda alla quale non ha risposto
#       si posso gestire in maniera tale da non perdere il campione,
#       oppure talmente pochi che si possono eliminare
# tirar fuori un altra colonna, rapporto tra risposta fra una colonna e un'altra
#       analizza l'efficenza su questo calcolo
# o raggruppamento per ruolo/professione in maniera efficiente e non
# statistica esplorativa

In [83]:
#non considerare Use5
#prevedere se prof è d'accordo con l'apprendimento con wiki dalle altre domande
# in input tutto cio che non è "use" - output: si seleziona qualcuno di questi use e si cerca di predirli

# tipo di docente ha rilevanza nella decisione

In [84]:
import numpy as np
import pandas as pd

data = pd.read_csv('dataset/uci - missing data/wiki4HE/wiki4HE.csv', sep=';')
data

,AGE,GENDER,DOMAIN,PhD,YEARSEXP,UNIVERSITY,UOC_POSITION,OTHER_POSITION,OTHERSTATUS,USERWIKI,PU1,PU2,PU3,PEU1,PEU2,PEU3,ENJ1,ENJ2,Qu1,Qu2,Qu3,Qu4,Qu5,Vis1,Vis2,Vis3,Im1,Im2,Im3,SA1,SA2,SA3,Use1,Use2,Use3,Use4,Use5,Pf1,Pf2,Pf3,JR1,JR2,BI1,BI2,Inc1,Inc2,Inc3,Inc4,Exp1,Exp2,Exp3,Exp4,Exp5
0,40,0,2,1,14,1,2,?,?,0,4,4,3,5,5,3,4,4,3,3,2,2,3,3,3,1,2,4,2,4,4,4,3,1,1,2,4,1,1,3,4,1,2,3,5,5,5,5,4,4,4,1,2
1,42,0,5,1,18,1,2,?,?,0,2,3,3,4,4,3,3,4,4,4,3,3,2,3,3,1,1,2,1,4,4,4,2,2,1,1,2,1,1,1,4,3,2,2,4,4,3,4,2,2,4,2,4
2,37,0,4,1,13,1,3,?,?,0,2,2,2,4,4,3,3,3,2,2,2,5,3,2,3,2,2,4,3,4,2,4,1,1,1,1,1,3,3,3,4,3,1,1,5,3,5,5,2,2,2,1,3
3,40,0,4,0,13,1,3,?,?,0,3,3,4,3,3,3,4,3,3,4,3,3,3,3,4,3,2,2,3,5,5,5,3,3,3,3,3,4,4,4,5,4,3,3,3,4,4,3,4,4,3,3,4
4,51,0,6,0,8,1,3,?,?,1,4,3,5,5,4,3,4,4,4,5,4,3,4,4,4,4,3,2,3,5,5,5,3,3,5,5,5,5,5,5,3,3,5,5,5,5,4,4,5,5,5,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,43,0,5,1,21,2,?,?,2,0,3,3,3,5,5,2,4,5,3,3,4,5,2,2,2,1,2,2,2,3,3,4,?,?,2,2,2,1,2,1,5,4,2,2,2,2,2,2,?,?,?,?,?
909,53,0,6,0,25,2,?,?,6,0,3,3,4,5,4,3,4,4,4,4,4,3,3,2,3,3,2,?,2,?,4,5,3,2,3,3,5,2,2,4,3,3,4,4,4,3,3,4,4,4,4,1,1
910,39,0,5,1,9,2,?,?,4,0,3,3,3,5,4,3,3,4,3,3,2,5,2,2,4,1,1,2,?,4,5,4,3,1,1,1,3,5,5,3,3,1,2,2,5,4,3,?,5,5,5,4,1
911,40,0,3,1,10,2,?,?,2,0,3,3,5,5,4,2,4,4,4,4,3,2,5,3,2,5,4,5,4,5,5,5,3,1,5,5,?,1,2,4,4,2,5,5,1,5,2,2,4,4,2,1,1
912,41,1,3,1,12,2,?,?,2,0,3,4,3,5,5,?,4,4,3,3,3,2,3,2,3,1,3,5,4,4,4,4,2,1,3,3,3,1,1,4,4,4,3,3,3,?,3,3,2,3,3,1,1

In [85]:
data.replace('?', np.nan, inplace=True)
data

,AGE,GENDER,DOMAIN,PhD,YEARSEXP,UNIVERSITY,UOC_POSITION,OTHER_POSITION,OTHERSTATUS,USERWIKI,PU1,PU2,PU3,PEU1,PEU2,PEU3,ENJ1,ENJ2,Qu1,Qu2,Qu3,Qu4,Qu5,Vis1,Vis2,Vis3,Im1,Im2,Im3,SA1,SA2,SA3,Use1,Use2,Use3,Use4,Use5,Pf1,Pf2,Pf3,JR1,JR2,BI1,BI2,Inc1,Inc2,Inc3,Inc4,Exp1,Exp2,Exp3,Exp4,Exp5
0,40,0,2,1,14,1,2,NaN,NaN,0,4,4,3,5,5,3,4,4,3,3,2,2,3,3,3,1,2,4,2,4,4,4,3,1,1,2,4,1,1,3,4,1,2,3,5,5,5,5,4,4,4,1,2
1,42,0,5,1,18,1,2,NaN,NaN,0,2,3,3,4,4,3,3,4,4,4,3,3,2,3,3,1,1,2,1,4,4,4,2,2,1,1,2,1,1,1,4,3,2,2,4,4,3,4,2,2,4,2,4
2,37,0,4,1,13,1,3,NaN,NaN,0,2,2,2,4,4,3,3,3,2,2,2,5,3,2,3,2,2,4,3,4,2,4,1,1,1,1,1,3,3,3,4,3,1,1,5,3,5,5,2,2,2,1,3
3,40,0,4,0,13,1,3,NaN,NaN,0,3,3,4,3,3,3,4,3,3,4,3,3,3,3,4,3,2,2,3,5,5,5,3,3,3,3,3,4,4,4,5,4,3,3,3,4,4,3,4,4,3,3,4
4,51,0,6,0,8,1,3,NaN,NaN,1,4,3,5,5,4,3,4,4,4,5,4,3,4,4,4,4,3,2,3,5,5,5,3,3,5,5,5,5,5,5,3,3,5,5,5,5,4,4,5,5,5,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,43,0,5,1,21,2,NaN,NaN,2,0,3,3,3,5,5,2,4,5,3,3,4,5,2,2,2,1,2,2,2,3,3,4,NaN,NaN,2,2,2,1,2,1,5,4,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN
909,53,0,6,0,25,2,NaN,NaN,6,0,3,3,4,5,4,3,4,4,4,4,4,3,3,2,3,3,2,NaN,2,NaN,4,5,3,2,3,3,5,2,2,4,3,3,4,4,4,3,3,4,4,4,4,1,1
910,39,0,5,1,9,2,NaN,NaN,4,0,3,3,3,5,4,3,3,4,3,3,2,5,2,2,4,1,1,2,NaN,4,5,4,3,1,1,1,3,5,5,3,3,1,2,2,5,4,3,NaN,5,5,5,4,1
911,40,0,3,1,10,2,NaN,NaN,2,0,3,3,5,5,4,2,4,4,4,4,3,2,5,3,2,5,4,5,4,5,5,5,3,1,5,5,NaN,1,2,4,4,2,5,5,1,5,2,2,4,4,2,1,1
912,41,1,3,1,12,2,NaN,NaN,2,0,3,4,3,5,5,NaN,4,4,3,3,3,2,3,2,3,1,3,5,4,4,4,4,2,1,3,3,3,1,1,4,4,4,3,3,3,NaN,3,3,2,3,3,1,1

In [86]:
pd.set_option('display.max_columns', None)
data.head()

,AGE,GENDER,DOMAIN,PhD,YEARSEXP,UNIVERSITY,UOC_POSITION,OTHER_POSITION,OTHERSTATUS,USERWIKI,PU1,PU2,PU3,PEU1,PEU2,PEU3,ENJ1,ENJ2,Qu1,Qu2,Qu3,Qu4,Qu5,Vis1,Vis2,Vis3,Im1,Im2,Im3,SA1,SA2,SA3,Use1,Use2,Use3,Use4,Use5,Pf1,Pf2,Pf3,JR1,JR2,BI1,BI2,Inc1,Inc2,Inc3,Inc4,Exp1,Exp2,Exp3,Exp4,Exp5
0,40,0,2,1,14,1,2,NaN,NaN,0,4,4,3,5,5,3,4,4,3,3,2,2,3,3,3,1,2,4,2,4,4,4,3,1,1,2,4,1,1,3,4,1,2,3,5,5,5,5,4,4,4,1,2
1,42,0,5,1,18,1,2,NaN,NaN,0,2,3,3,4,4,3,3,4,4,4,3,3,2,3,3,1,1,2,1,4,4,4,2,2,1,1,2,1,1,1,4,3,2,2,4,4,3,4,2,2,4,2,4
2,37,0,4,1,13,1,3,NaN,NaN,0,2,2,2,4,4,3,3,3,2,2,2,5,3,2,3,2,2,4,3,4,2,4,1,1,1,1,1,3,3,3,4,3,1,1,5,3,5,5,2,2,2,1,3
3,40,0,4,0,13,1,3,NaN,NaN,0,3,3,4,3,3,3,4,3,3,4,3,3,3,3,4,3,2,2,3,5,5,5,3,3,3,3,3,4,4,4,5,4,3,3,3,4,4,3,4,4,3,3,4
4,51,0,6,0,8,1,3,NaN,NaN,1,4,3,5,5,4,3,4,4,4,5,4,3,4,4,4,4,3,2,3,5,5,5,3,3,5,5,5,5,5,5,3,3,5,5,5,5,4,4,5,5,5,4,4

In [87]:
data.describe()

              AGE      GENDER         PhD  UNIVERSITY
count  913.000000  913.000000  913.000000  913.000000
mean    42.246440    0.424973    0.464403    1.123768
std      8.058418    0.494610    0.499005    0.329497
min     23.000000    0.000000    0.000000    1.000000
25%     36.000000    0.000000    0.000000    1.000000
50%     42.000000    0.000000    0.000000    1.000000
75%     47.000000    1.000000    1.000000    1.000000
max     69.000000    1.000000    1.000000    2.000000

In [88]:
pd.DataFrame({ 'contain na ': data.isna().any() ,'count na ': data.isna().sum() })

                contain na   count na
AGE                   False          0
GENDER                False          0
DOMAIN                 True          2
PhD                   False          0
YEARSEXP               True         23
UNIVERSITY            False          0
UOC_POSITION           True        113
OTHER_POSITION         True        261
OTHERSTATUS            True        540
USERWIKI               True          4
PU1                    True          7
PU2                    True         11
PU3                    True          5
PEU1                   True          4
PEU2                   True         14
PEU3                   True         97
ENJ1                   True          7
ENJ2                   True         17
Qu1                    True          7
Qu2                    True         10
Qu3                    True         15
Qu4                    True         22
Qu5                    True         29
Vis1                   True         72
Vis2                   True        117
Vis3                   True          8
Im1                    True         22
Im2                    True         20
Im3                    True         57
SA1                    True         11
SA2                    True         12
SA3                    True         11
Use1                   True         14
Use2                   True         17
Use3                   True          9
Use4                   True         23
Use5                   True         15
Pf1                    True         11
Pf2                    True          6
Pf3                    True         14
JR1                    True         27
JR2                    True         53
BI1                    True         32
BI2                    True         43
Inc1                   True         35
Inc2                   True         35
Inc3                   True         37
Inc4                   True         42
Exp1                   True         13
Exp2                   True         11
Exp3                   True         13
Exp4                   True         14
Exp5                   True         13

In [89]:
# numero di righe con almeno un na:
data.shape[0] - data.dropna().shape[0]

737

In [98]:
# data = data.astype(int)
# a = data.dropna().astype('int64')
# a.info()

In [99]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913 entries, 0 to 912
Data columns (total 53 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AGE             913 non-null    int64
 1   GENDER          913 non-null    int64
 2   DOMAIN          911 non-null    object
 3   PhD             913 non-null    int64
 4   YEARSEXP        890 non-null    object
 5   UNIVERSITY      913 non-null    int64
 6   UOC_POSITION    800 non-null    object
 7   OTHER_POSITION  652 non-null    object
 8   OTHERSTATUS     373 non-null    object
 9   USERWIKI        909 non-null    object
 10  PU1             906 non-null    object
 11  PU2             902 non-null    object
 12  PU3             908 non-null    object
 13  PEU1            909 non-null    object
 14  PEU2            899 non-null    object
 15  PEU3            816 non-null    object
 16  ENJ1            906 non-null    object
 17  ENJ2            896 non-null    object
 18  Qu1             906 non-null    object
 19  Qu2             903 non-null    object
 20  Qu3             898 non-null    object
 21  Qu4             891 non-null    object
 22  Qu5             884 non-null    object
 23  Vis1            841 non-null    object
 24  Vis2            796 non-null    object
 25  Vis3            905 non-null    object
 26  Im1             891 non-null    object
 27  Im2             893 non-null    object
 28  Im3             856 non-null    object
 29  SA1             902 non-null    object
 30  SA2             901 non-null    object
 31  SA3             902 non-null    object
 32  Use1            899 non-null    object
 33  Use2            896 non-null    object
 34  Use3            904 non-null    object
 35  Use4            890 non-null    object
 36  Use5            898 non-null    object
 37  Pf1             902 non-null    object
 38  Pf2             907 non-null    object
 39  Pf3             899 non-null    object
 40  JR1             886 non-null    object
 41  JR2             860 non-null    object
 42  BI1             881 non-null    object
 43  BI2             870 non-null    object
 44  Inc1            878 non-null    object
 45  Inc2            878 non-null    object
 46  Inc3            876 non-null    object
 47  Inc4            871 non-null    object
 48  Exp1            900 non-null    object
 49  Exp2            902 non-null    object
 50  Exp3            900 non-null    object
 51  Exp4            899 non-null    object
 52  Exp5            900 non-null    object
dtypes: int64(4), object(49)
memory usage: 378.2+ KB

In [107]:
#cambio phd e Other in bool

# University si indica l'uni di appartenenza
# se in UNI = 1 -> in UOC la posizione in UOC - probabilmente non hanno altri impieghi in altre uni
# se in UNI = 2 -> in UOC la posizione in UOC prob non esiste - hanno altri ruoli
#potrei percio creare una col con solo la posizione lavorativa


# tenere conto (sotto)

# maggior parte dei dati mancanti provengono dalla variabile "OTHER_POSITION".
# Questa variabile descrive il "lavoro come part-time in un'altra università e membri UPF".
# Questa è una domanda mal progettata in quanto non è applicabile
# alla maggior parte dei membri della facoltà e quindi non hanno risposto.
# Di conseguenza, rimuoveremo questa variabile dai dati per eliminare i dati mancanti sistematici.

count    652.000000
mean       1.588957
std        0.492401
min        1.000000
25%        1.000000
50%        2.000000
75%        2.000000
max        2.000000
Name: OTHER_POSITION, dtype: float64

In [129]:
a = data['OTHERSTATUS'].dropna().astype(int)
a.describe()

count    373.000000
mean       4.209115
std        2.225034
min        1.000000
25%        2.000000
50%        4.000000
75%        7.000000
max        7.000000
Name: OTHERSTATUS, dtype: float64

In [133]:
a[a[:] == 7]

148    7
157    7
165    7
166    7
178    7
      ..
902    7
903    7
904    7
906    7
907    7
Name: OTHERSTATUS, Length: 107, dtype: int32

In [ ]:

data['OTHER_POSITION'].dropna().astype(int).describe()

In [108]:
data['OTHERSTATUS'].dropna().astype(int).describe()

count    373.000000
mean       4.209115
std        2.225034
min        1.000000
25%        2.000000
50%        4.000000
75%        7.000000
max        7.000000
Name: OTHERSTATUS, dtype: float64

In [101]:
data[data['OTHER_POSITION'].notna()]

,AGE,GENDER,DOMAIN,PhD,YEARSEXP,UNIVERSITY,UOC_POSITION,OTHER_POSITION,OTHERSTATUS,USERWIKI,PU1,PU2,PU3,PEU1,PEU2,PEU3,ENJ1,ENJ2,Qu1,Qu2,Qu3,Qu4,Qu5,Vis1,Vis2,Vis3,Im1,Im2,Im3,SA1,SA2,SA3,Use1,Use2,Use3,Use4,Use5,Pf1,Pf2,Pf3,JR1,JR2,BI1,BI2,Inc1,Inc2,Inc3,Inc4,Exp1,Exp2,Exp3,Exp4,Exp5
141,49,0,1,0,6,1,6,2,NaN,0,5,5,5,5,5,5,5,5,4,5,4,4,5,3,NaN,5,2,3,4,5,5,5,4,1,5,5,5,5,5,4,NaN,NaN,5,5,5,5,5,5,5,5,5,1,3
142,46,0,3,0,4,1,6,2,NaN,0,2,2,2,4,3,3,3,3,2,2,2,2,1,1,2,1,1,3,1,3,3,3,1,1,1,1,1,2,2,1,3,3,1,1,1,1,1,1,1,1,2,1,2
143,54,0,6,0,11,1,6,2,NaN,0,5,5,5,5,5,5,5,5,3,3,3,3,3,4,4,5,2,2,2,5,5,5,5,5,5,5,5,1,3,3,5,5,5,5,5,5,5,5,5,5,5,1,5
144,47,0,6,0,5,1,6,2,NaN,0,4,3,4,3,4,3,4,NaN,2,2,2,4,3,4,3,3,3,3,NaN,4,4,4,2,2,3,3,4,3,4,3,4,4,3,NaN,4,3,3,3,3,3,4,2,3
145,53,0,6,0,10,1,6,2,NaN,1,2,2,1,2,2,2,2,2,3,3,3,3,2,2,3,3,2,2,3,2,2,2,2,3,2,3,2,2,1,2,1,2,3,3,1,3,4,1,2,2,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,62,1,3,0,15,1,6,2,NaN,0,2,5,4,5,5,4,3,3,4,3,3,3,4,3,3,3,NaN,3,3,4,3,NaN,3,2,4,2,4,1,2,1,3,NaN,3,4,3,2,3,1,4,3,2,1,2
796,46,1,1,1,21,1,6,1,2,0,3,4,5,4,5,NaN,5,5,4,4,4,1,4,NaN,NaN,4,1,1,3,5,5,5,4,1,5,3,5,3,2,4,4,4,4,5,4,4,5,5,5,4,4,1,1
797,49,1,1,1,23,1,6,1,2,0,3,3,3,5,5,NaN,4,4,3,3,3,2,3,3,NaN,1,1,3,5,5,3,5,2,3,4,4,4,4,4,4,2,3,4,3,4,4,4,4,4,4,4,1,2
798,42,1,5,0,19,1,6,2,NaN,1,2,2,3,4,3,2,3,3,3,3,3,3,3,2,2,2,3,3,3,3,3,NaN,2,2,3,3,3,2,2,2,4,3,3,3,3,2,3,2,2,2,4,1,2
799,45,1,3,1,20,1,6,1,2,0,2,2,2,4,2,1,2,2,3,3,3,2,2,2,1,1,2,2,2,2,NaN,2,1,1,1,1,2,1,1,1,3,3,2,2,2,2,2,2,2,3,4,1,1

In [ ]:
data[data['OTHERSTATUS'].notna()]

In [ ]:
data['OTHER_POSITION'].dropna().astype(str).astype(int).describe()

In [92]:
# lo mostro soltanto, per vedere quante sono le righe complete
data.dropna()

,AGE,GENDER,DOMAIN,PhD,YEARSEXP,UNIVERSITY,UOC_POSITION,OTHER_POSITION,OTHERSTATUS,USERWIKI,PU1,PU2,PU3,PEU1,PEU2,PEU3,ENJ1,ENJ2,Qu1,Qu2,Qu3,Qu4,Qu5,Vis1,Vis2,Vis3,Im1,Im2,Im3,SA1,SA2,SA3,Use1,Use2,Use3,Use4,Use5,Pf1,Pf2,Pf3,JR1,JR2,BI1,BI2,Inc1,Inc2,Inc3,Inc4,Exp1,Exp2,Exp3,Exp4,Exp5
148,43,0,6,0,7,1,6,1,7,0,5,5,5,5,4,4,5,4,4,4,4,4,4,5,3,4,4,5,5,4,5,5,3,4,5,5,4,3,3,4,5,3,4,4,4,4,4,4,4,5,5,2,4
149,39,0,6,0,15,1,6,1,3,0,3,2,2,4,4,2,2,3,3,3,3,3,2,2,3,2,2,4,2,4,4,3,1,1,2,2,3,1,1,2,2,2,2,3,4,4,3,4,2,3,4,1,2
160,43,0,5,1,20,1,6,1,2,0,2,2,1,4,3,3,2,3,2,2,2,4,1,2,3,1,1,3,1,3,4,3,1,1,1,1,2,2,2,2,3,2,1,1,1,1,1,1,1,2,3,1,1
164,44,0,1,1,20,1,6,1,2,0,3,4,4,4,4,2,5,4,4,3,3,3,3,3,3,1,2,2,2,3,2,3,1,1,3,2,4,1,1,1,3,3,3,3,3,5,3,3,2,3,1,1,1
165,44,0,6,0,20,1,6,1,7,0,4,4,3,5,5,4,4,4,3,4,2,3,3,2,4,1,3,4,5,5,5,5,1,1,3,3,4,2,3,3,5,4,3,3,4,4,5,3,4,4,4,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784,40,1,1,1,9,1,6,1,2,0,3,3,4,5,5,3,3,4,3,3,3,3,3,3,3,2,2,3,3,5,5,5,3,3,3,3,4,1,3,3,3,3,4,4,5,5,3,5,3,3,3,1,1
785,27,1,6,0,4,1,6,1,7,0,1,1,1,5,5,5,1,5,3,2,3,2,4,1,5,1,1,4,1,5,5,5,3,1,1,1,1,3,4,3,5,5,1,1,4,3,4,2,3,3,3,1,1
786,49,1,1,0,0,1,6,1,3,0,2,2,3,4,3,3,2,3,2,2,2,2,2,2,2,1,2,2,2,5,5,5,1,1,2,2,3,1,3,3,3,3,2,2,3,4,5,5,2,2,2,2,2
789,63,1,6,1,36,1,6,1,2,0,4,4,4,4,4,3,4,4,4,4,3,2,3,3,3,3,3,3,3,4,4,4,1,1,4,4,4,1,2,1,3,3,3,3,3,3,3,3,3,3,4,1,1
792,50,1,6,1,19,1,6,1,2,1,2,3,3,2,4,2,3,2,2,2,2,4,2,2,2,1,2,2,3,4,4,4,2,1,2,1,5,2,2,3,5,4,1,2,4,4,4,4,1,3,2,1,3

In [93]:
datana = data[data.isna().any(1)]
datana

,AGE,GENDER,DOMAIN,PhD,YEARSEXP,UNIVERSITY,UOC_POSITION,OTHER_POSITION,OTHERSTATUS,USERWIKI,PU1,PU2,PU3,PEU1,PEU2,PEU3,ENJ1,ENJ2,Qu1,Qu2,Qu3,Qu4,Qu5,Vis1,Vis2,Vis3,Im1,Im2,Im3,SA1,SA2,SA3,Use1,Use2,Use3,Use4,Use5,Pf1,Pf2,Pf3,JR1,JR2,BI1,BI2,Inc1,Inc2,Inc3,Inc4,Exp1,Exp2,Exp3,Exp4,Exp5
0,40,0,2,1,14,1,2,NaN,NaN,0,4,4,3,5,5,3,4,4,3,3,2,2,3,3,3,1,2,4,2,4,4,4,3,1,1,2,4,1,1,3,4,1,2,3,5,5,5,5,4,4,4,1,2
1,42,0,5,1,18,1,2,NaN,NaN,0,2,3,3,4,4,3,3,4,4,4,3,3,2,3,3,1,1,2,1,4,4,4,2,2,1,1,2,1,1,1,4,3,2,2,4,4,3,4,2,2,4,2,4
2,37,0,4,1,13,1,3,NaN,NaN,0,2,2,2,4,4,3,3,3,2,2,2,5,3,2,3,2,2,4,3,4,2,4,1,1,1,1,1,3,3,3,4,3,1,1,5,3,5,5,2,2,2,1,3
3,40,0,4,0,13,1,3,NaN,NaN,0,3,3,4,3,3,3,4,3,3,4,3,3,3,3,4,3,2,2,3,5,5,5,3,3,3,3,3,4,4,4,5,4,3,3,3,4,4,3,4,4,3,3,4
4,51,0,6,0,8,1,3,NaN,NaN,1,4,3,5,5,4,3,4,4,4,5,4,3,4,4,4,4,3,2,3,5,5,5,3,3,5,5,5,5,5,5,3,3,5,5,5,5,4,4,5,5,5,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,43,0,5,1,21,2,NaN,NaN,2,0,3,3,3,5,5,2,4,5,3,3,4,5,2,2,2,1,2,2,2,3,3,4,NaN,NaN,2,2,2,1,2,1,5,4,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN
909,53,0,6,0,25,2,NaN,NaN,6,0,3,3,4,5,4,3,4,4,4,4,4,3,3,2,3,3,2,NaN,2,NaN,4,5,3,2,3,3,5,2,2,4,3,3,4,4,4,3,3,4,4,4,4,1,1
910,39,0,5,1,9,2,NaN,NaN,4,0,3,3,3,5,4,3,3,4,3,3,2,5,2,2,4,1,1,2,NaN,4,5,4,3,1,1,1,3,5,5,3,3,1,2,2,5,4,3,NaN,5,5,5,4,1
911,40,0,3,1,10,2,NaN,NaN,2,0,3,3,5,5,4,2,4,4,4,4,3,2,5,3,2,5,4,5,4,5,5,5,3,1,5,5,NaN,1,2,4,4,2,5,5,1,5,2,2,4,4,2,1,1
912,41,1,3,1,12,2,NaN,NaN,2,0,3,4,3,5,5,NaN,4,4,3,3,3,2,3,2,3,1,3,5,4,4,4,4,2,1,3,3,3,1,1,4,4,4,3,3,3,NaN,3,3,2,3,3,1,1

In [ ]:
datana.isna().sum()