In [23]:
import numpy as np
import pandas as pd

data = pd.read_csv('wiki4HE.csv', sep=';')
data.replace('?', np.nan, inplace=True)
pd.set_option('display.max_columns', None)
data

,AGE,GENDER,DOMAIN,PhD,YEARSEXP,UNIVERSITY,UOC_POSITION,OTHER_POSITION,OTHERSTATUS,USERWIKI,PU1,PU2,PU3,PEU1,PEU2,PEU3,ENJ1,ENJ2,Qu1,Qu2,Qu3,Qu4,Qu5,Vis1,Vis2,Vis3,Im1,Im2,Im3,SA1,SA2,SA3,Use1,Use2,Use3,Use4,Use5,Pf1,Pf2,Pf3,JR1,JR2,BI1,BI2,Inc1,Inc2,Inc3,Inc4,Exp1,Exp2,Exp3,Exp4,Exp5
0,40,0,2,1,14,1,2,NaN,NaN,0,4,4,3,5,5,3,4,4,3,3,2,2,3,3,3,1,2,4,2,4,4,4,3,1,1,2,4,1,1,3,4,1,2,3,5,5,5,5,4,4,4,1,2
1,42,0,5,1,18,1,2,NaN,NaN,0,2,3,3,4,4,3,3,4,4,4,3,3,2,3,3,1,1,2,1,4,4,4,2,2,1,1,2,1,1,1,4,3,2,2,4,4,3,4,2,2,4,2,4
2,37,0,4,1,13,1,3,NaN,NaN,0,2,2,2,4,4,3,3,3,2,2,2,5,3,2,3,2,2,4,3,4,2,4,1,1,1,1,1,3,3,3,4,3,1,1,5,3,5,5,2,2,2,1,3
3,40,0,4,0,13,1,3,NaN,NaN,0,3,3,4,3,3,3,4,3,3,4,3,3,3,3,4,3,2,2,3,5,5,5,3,3,3,3,3,4,4,4,5,4,3,3,3,4,4,3,4,4,3,3,4
4,51,0,6,0,8,1,3,NaN,NaN,1,4,3,5,5,4,3,4,4,4,5,4,3,4,4,4,4,3,2,3,5,5,5,3,3,5,5,5,5,5,5,3,3,5,5,5,5,4,4,5,5,5,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,43,0,5,1,21,2,NaN,NaN,2,0,3,3,3,5,5,2,4,5,3,3,4,5,2,2,2,1,2,2,2,3,3,4,NaN,NaN,2,2,2,1,2,1,5,4,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN
909,53,0,6,0,25,2,NaN,NaN,6,0,3,3,4,5,4,3,4,4,4,4,4,3,3,2,3,3,2,NaN,2,NaN,4,5,3,2,3,3,5,2,2,4,3,3,4,4,4,3,3,4,4,4,4,1,1
910,39,0,5,1,9,2,NaN,NaN,4,0,3,3,3,5,4,3,3,4,3,3,2,5,2,2,4,1,1,2,NaN,4,5,4,3,1,1,1,3,5,5,3,3,1,2,2,5,4,3,NaN,5,5,5,4,1
911,40,0,3,1,10,2,NaN,NaN,2,0,3,3,5,5,4,2,4,4,4,4,3,2,5,3,2,5,4,5,4,5,5,5,3,1,5,5,NaN,1,2,4,4,2,5,5,1,5,2,2,4,4,2,1,1
912,41,1,3,1,12,2,NaN,NaN,2,0,3,4,3,5,5,NaN,4,4,3,3,3,2,3,2,3,1,3,5,4,4,4,4,2,1,3,3,3,1,1,4,4,4,3,3,3,NaN,3,3,2,3,3,1,1

In [18]:
pd.DataFrame({ 'contain na ': data.isna().any() ,'count na ': data.isna().sum() })

                contain na   count na
AGE                   False          0
GENDER                False          0
DOMAIN                 True          2
PhD                   False          0
YEARSEXP               True         23
UNIVERSITY            False          0
UOC_POSITION           True        113
OTHER_POSITION         True        261
OTHERSTATUS            True        540
USERWIKI               True          4
PU1                    True          7
PU2                    True         11
PU3                    True          5
PEU1                   True          4
PEU2                   True         14
PEU3                   True         97
ENJ1                   True          7
ENJ2                   True         17
Qu1                    True          7
Qu2                    True         10
Qu3                    True         15
Qu4                    True         22
Qu5                    True         29
Vis1                   True         72
Vis2                   True        117
Vis3                   True          8
Im1                    True         22
Im2                    True         20
Im3                    True         57
SA1                    True         11
SA2                    True         12
SA3                    True         11
Use1                   True         14
Use2                   True         17
Use3                   True          9
Use4                   True         23
Use5                   True         15
Pf1                    True         11
Pf2                    True          6
Pf3                    True         14
JR1                    True         27
JR2                    True         53
BI1                    True         32
BI2                    True         43
Inc1                   True         35
Inc2                   True         35
Inc3                   True         37
Inc4                   True         42
Exp1                   True         13
Exp2                   True         11
Exp3                   True         13
Exp4                   True         14
Exp5                   True         13

In [19]:
# numero di righe con almeno un na:
data.shape[0] - data.dropna().shape[0]

737

In [20]:
a = data['OTHERSTATUS'].dropna().astype(int)
a.describe()

count    373.000000
mean       4.209115
std        2.225034
min        1.000000
25%        2.000000
50%        4.000000
75%        7.000000
max        7.000000
Name: OTHERSTATUS, dtype: float64

In [21]:
#numero entry con val == 7
a[a[:] == 7].count()

107

In [22]:
data['OTHER_POSITION'].dropna().astype(int).describe()

count    652.000000
mean       1.588957
std        0.492401
min        1.000000
25%        1.000000
50%        2.000000
75%        2.000000
max        2.000000
Name: OTHER_POSITION, dtype: float64