In [27]:
# gestione missing values:
# togliere campione,
# se per 900 campioni abbiamo solo 10 campioni e ognuno di questi ha una sola domanda alla quale non ha risposto
#       si posso gestire in maniera tale da non perdere il campione,
#       oppure talmente pochi che si possono eliminare
# tirar fuori un altra colonna, rapporto tra risposta fra una colonna e un'altra
#       analizza l'efficenza su questo calcolo
# o raggruppamento per ruolo/professione in maniera efficiente e non
# statistica esplorativa

In [28]:
#non considerare Use5
#prevedere se prof è d'accordo con l'apprendimento con wiki dalle altre domande
# in input tutto cio che non è "use" - output: si seleziona qualcuno di questi use e si cerca di predirli

# tipo di docente ha rilevanza nella decisione

In [29]:
import numpy as np
import pandas as pd

data = pd.read_csv('dataset/uci - missing data/wiki4HE/wiki4HE.csv', sep=';')
data

,AGE,GENDER,DOMAIN,PhD,YEARSEXP,UNIVERSITY,UOC_POSITION,OTHER_POSITION,OTHERSTATUS,USERWIKI,PU1,PU2,PU3,PEU1,PEU2,PEU3,ENJ1,ENJ2,Qu1,Qu2,Qu3,Qu4,Qu5,Vis1,Vis2,Vis3,Im1,Im2,Im3,SA1,SA2,SA3,Use1,Use2,Use3,Use4,Use5,Pf1,Pf2,Pf3,JR1,JR2,BI1,BI2,Inc1,Inc2,Inc3,Inc4,Exp1,Exp2,Exp3,Exp4,Exp5
0,40,0,2,1,14,1,2,?,?,0,4,4,3,5,5,3,4,4,3,3,2,2,3,3,3,1,2,4,2,4,4,4,3,1,1,2,4,1,1,3,4,1,2,3,5,5,5,5,4,4,4,1,2
1,42,0,5,1,18,1,2,?,?,0,2,3,3,4,4,3,3,4,4,4,3,3,2,3,3,1,1,2,1,4,4,4,2,2,1,1,2,1,1,1,4,3,2,2,4,4,3,4,2,2,4,2,4
2,37,0,4,1,13,1,3,?,?,0,2,2,2,4,4,3,3,3,2,2,2,5,3,2,3,2,2,4,3,4,2,4,1,1,1,1,1,3,3,3,4,3,1,1,5,3,5,5,2,2,2,1,3
3,40,0,4,0,13,1,3,?,?,0,3,3,4,3,3,3,4,3,3,4,3,3,3,3,4,3,2,2,3,5,5,5,3,3,3,3,3,4,4,4,5,4,3,3,3,4,4,3,4,4,3,3,4
4,51,0,6,0,8,1,3,?,?,1,4,3,5,5,4,3,4,4,4,5,4,3,4,4,4,4,3,2,3,5,5,5,3,3,5,5,5,5,5,5,3,3,5,5,5,5,4,4,5,5,5,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,43,0,5,1,21,2,?,?,2,0,3,3,3,5,5,2,4,5,3,3,4,5,2,2,2,1,2,2,2,3,3,4,?,?,2,2,2,1,2,1,5,4,2,2,2,2,2,2,?,?,?,?,?
909,53,0,6,0,25,2,?,?,6,0,3,3,4,5,4,3,4,4,4,4,4,3,3,2,3,3,2,?,2,?,4,5,3,2,3,3,5,2,2,4,3,3,4,4,4,3,3,4,4,4,4,1,1
910,39,0,5,1,9,2,?,?,4,0,3,3,3,5,4,3,3,4,3,3,2,5,2,2,4,1,1,2,?,4,5,4,3,1,1,1,3,5,5,3,3,1,2,2,5,4,3,?,5,5,5,4,1
911,40,0,3,1,10,2,?,?,2,0,3,3,5,5,4,2,4,4,4,4,3,2,5,3,2,5,4,5,4,5,5,5,3,1,5,5,?,1,2,4,4,2,5,5,1,5,2,2,4,4,2,1,1
912,41,1,3,1,12,2,?,?,2,0,3,4,3,5,5,?,4,4,3,3,3,2,3,2,3,1,3,5,4,4,4,4,2,1,3,3,3,1,1,4,4,4,3,3,3,?,3,3,2,3,3,1,1

In [30]:
data.replace('?', np.nan, inplace=True)
data

,AGE,GENDER,DOMAIN,PhD,YEARSEXP,UNIVERSITY,UOC_POSITION,OTHER_POSITION,OTHERSTATUS,USERWIKI,PU1,PU2,PU3,PEU1,PEU2,PEU3,ENJ1,ENJ2,Qu1,Qu2,Qu3,Qu4,Qu5,Vis1,Vis2,Vis3,Im1,Im2,Im3,SA1,SA2,SA3,Use1,Use2,Use3,Use4,Use5,Pf1,Pf2,Pf3,JR1,JR2,BI1,BI2,Inc1,Inc2,Inc3,Inc4,Exp1,Exp2,Exp3,Exp4,Exp5
0,40,0,2,1,14,1,2,NaN,NaN,0,4,4,3,5,5,3,4,4,3,3,2,2,3,3,3,1,2,4,2,4,4,4,3,1,1,2,4,1,1,3,4,1,2,3,5,5,5,5,4,4,4,1,2
1,42,0,5,1,18,1,2,NaN,NaN,0,2,3,3,4,4,3,3,4,4,4,3,3,2,3,3,1,1,2,1,4,4,4,2,2,1,1,2,1,1,1,4,3,2,2,4,4,3,4,2,2,4,2,4
2,37,0,4,1,13,1,3,NaN,NaN,0,2,2,2,4,4,3,3,3,2,2,2,5,3,2,3,2,2,4,3,4,2,4,1,1,1,1,1,3,3,3,4,3,1,1,5,3,5,5,2,2,2,1,3
3,40,0,4,0,13,1,3,NaN,NaN,0,3,3,4,3,3,3,4,3,3,4,3,3,3,3,4,3,2,2,3,5,5,5,3,3,3,3,3,4,4,4,5,4,3,3,3,4,4,3,4,4,3,3,4
4,51,0,6,0,8,1,3,NaN,NaN,1,4,3,5,5,4,3,4,4,4,5,4,3,4,4,4,4,3,2,3,5,5,5,3,3,5,5,5,5,5,5,3,3,5,5,5,5,4,4,5,5,5,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,43,0,5,1,21,2,NaN,NaN,2,0,3,3,3,5,5,2,4,5,3,3,4,5,2,2,2,1,2,2,2,3,3,4,NaN,NaN,2,2,2,1,2,1,5,4,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN
909,53,0,6,0,25,2,NaN,NaN,6,0,3,3,4,5,4,3,4,4,4,4,4,3,3,2,3,3,2,NaN,2,NaN,4,5,3,2,3,3,5,2,2,4,3,3,4,4,4,3,3,4,4,4,4,1,1
910,39,0,5,1,9,2,NaN,NaN,4,0,3,3,3,5,4,3,3,4,3,3,2,5,2,2,4,1,1,2,NaN,4,5,4,3,1,1,1,3,5,5,3,3,1,2,2,5,4,3,NaN,5,5,5,4,1
911,40,0,3,1,10,2,NaN,NaN,2,0,3,3,5,5,4,2,4,4,4,4,3,2,5,3,2,5,4,5,4,5,5,5,3,1,5,5,NaN,1,2,4,4,2,5,5,1,5,2,2,4,4,2,1,1
912,41,1,3,1,12,2,NaN,NaN,2,0,3,4,3,5,5,NaN,4,4,3,3,3,2,3,2,3,1,3,5,4,4,4,4,2,1,3,3,3,1,1,4,4,4,3,3,3,NaN,3,3,2,3,3,1,1

In [31]:
pd.set_option('display.max_columns', None)
data.head()

,AGE,GENDER,DOMAIN,PhD,YEARSEXP,UNIVERSITY,UOC_POSITION,OTHER_POSITION,OTHERSTATUS,USERWIKI,PU1,PU2,PU3,PEU1,PEU2,PEU3,ENJ1,ENJ2,Qu1,Qu2,Qu3,Qu4,Qu5,Vis1,Vis2,Vis3,Im1,Im2,Im3,SA1,SA2,SA3,Use1,Use2,Use3,Use4,Use5,Pf1,Pf2,Pf3,JR1,JR2,BI1,BI2,Inc1,Inc2,Inc3,Inc4,Exp1,Exp2,Exp3,Exp4,Exp5
0,40,0,2,1,14,1,2,NaN,NaN,0,4,4,3,5,5,3,4,4,3,3,2,2,3,3,3,1,2,4,2,4,4,4,3,1,1,2,4,1,1,3,4,1,2,3,5,5,5,5,4,4,4,1,2
1,42,0,5,1,18,1,2,NaN,NaN,0,2,3,3,4,4,3,3,4,4,4,3,3,2,3,3,1,1,2,1,4,4,4,2,2,1,1,2,1,1,1,4,3,2,2,4,4,3,4,2,2,4,2,4
2,37,0,4,1,13,1,3,NaN,NaN,0,2,2,2,4,4,3,3,3,2,2,2,5,3,2,3,2,2,4,3,4,2,4,1,1,1,1,1,3,3,3,4,3,1,1,5,3,5,5,2,2,2,1,3
3,40,0,4,0,13,1,3,NaN,NaN,0,3,3,4,3,3,3,4,3,3,4,3,3,3,3,4,3,2,2,3,5,5,5,3,3,3,3,3,4,4,4,5,4,3,3,3,4,4,3,4,4,3,3,4
4,51,0,6,0,8,1,3,NaN,NaN,1,4,3,5,5,4,3,4,4,4,5,4,3,4,4,4,4,3,2,3,5,5,5,3,3,5,5,5,5,5,5,3,3,5,5,5,5,4,4,5,5,5,4,4

In [32]:
# data.describe()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913 entries, 0 to 912
Data columns (total 53 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AGE             913 non-null    int64
 1   GENDER          913 non-null    int64
 2   DOMAIN          911 non-null    object
 3   PhD             913 non-null    int64
 4   YEARSEXP        890 non-null    object
 5   UNIVERSITY      913 non-null    int64
 6   UOC_POSITION    800 non-null    object
 7   OTHER_POSITION  652 non-null    object
 8   OTHERSTATUS     373 non-null    object
 9   USERWIKI        909 non-null    object
 10  PU1             906 non-null    object
 11  PU2             902 non-null    object
 12  PU3             908 non-null    object
 13  PEU1            909 non-null    object
 14  PEU2            899 non-null    object
 15  PEU3            816 non-null    object
 16  ENJ1            906 non-null    object
 17  ENJ2            896 non-null    object
 18  Qu1             906 non-null    object
 19  Qu2             903 non-null    object
 20  Qu3             898 non-null    object
 21  Qu4             891 non-null    object
 22  Qu5             884 non-null    object
 23  Vis1            841 non-null    object
 24  Vis2            796 non-null    object
 25  Vis3            905 non-null    object
 26  Im1             891 non-null    object
 27  Im2             893 non-null    object
 28  Im3             856 non-null    object
 29  SA1             902 non-null    object
 30  SA2             901 non-null    object
 31  SA3             902 non-null    object
 32  Use1            899 non-null    object
 33  Use2            896 non-null    object
 34  Use3            904 non-null    object
 35  Use4            890 non-null    object
 36  Use5            898 non-null    object
 37  Pf1             902 non-null    object
 38  Pf2             907 non-null    object
 39  Pf3             899 non-null    object
 40  JR1             886 non-null    object
 41  JR2             860 non-null    object
 42  BI1             881 non-null    object
 43  BI2             870 non-null    object
 44  Inc1            878 non-null    object
 45  Inc2            878 non-null    object
 46  Inc3            876 non-null    object
 47  Inc4            871 non-null    object
 48  Exp1            900 non-null    object
 49  Exp2            902 non-null    object
 50  Exp3            900 non-null    object
 51  Exp4            899 non-null    object
 52  Exp5            900 non-null    object
dtypes: int64(4), object(49)
memory usage: 378.2+ KB

In [33]:
pd.DataFrame({ 'contain na ': data.isna().any() ,'number of na ': data.isna().sum() })

                contain na   number of na
AGE                   False              0
GENDER                False              0
DOMAIN                 True              2
PhD                   False              0
YEARSEXP               True             23
UNIVERSITY            False              0
UOC_POSITION           True            113
OTHER_POSITION         True            261
OTHERSTATUS            True            540
USERWIKI               True              4
PU1                    True              7
PU2                    True             11
PU3                    True              5
PEU1                   True              4
PEU2                   True             14
PEU3                   True             97
ENJ1                   True              7
ENJ2                   True             17
Qu1                    True              7
Qu2                    True             10
Qu3                    True             15
Qu4                    True             22
Qu5                    True             29
Vis1                   True             72
Vis2                   True            117
Vis3                   True              8
Im1                    True             22
Im2                    True             20
Im3                    True             57
SA1                    True             11
SA2                    True             12
SA3                    True             11
Use1                   True             14
Use2                   True             17
Use3                   True              9
Use4                   True             23
Use5                   True             15
Pf1                    True             11
Pf2                    True              6
Pf3                    True             14
JR1                    True             27
JR2                    True             53
BI1                    True             32
BI2                    True             43
Inc1                   True             35
Inc2                   True             35
Inc3                   True             37
Inc4                   True             42
Exp1                   True             13
Exp2                   True             11
Exp3                   True             13
Exp4                   True             14
Exp5                   True             13

In [34]:
# numero di righe con almeno un na:
data.shape[0] - data.dropna().shape[0]

737

In [35]:
# data = data.astype(int)
# a = data.dropna().astype('int64')
# a.info()

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913 entries, 0 to 912
Data columns (total 53 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AGE             913 non-null    int64
 1   GENDER          913 non-null    int64
 2   DOMAIN          911 non-null    object
 3   PhD             913 non-null    int64
 4   YEARSEXP        890 non-null    object
 5   UNIVERSITY      913 non-null    int64
 6   UOC_POSITION    800 non-null    object
 7   OTHER_POSITION  652 non-null    object
 8   OTHERSTATUS     373 non-null    object
 9   USERWIKI        909 non-null    object
 10  PU1             906 non-null    object
 11  PU2             902 non-null    object
 12  PU3             908 non-null    object
 13  PEU1            909 non-null    object
 14  PEU2            899 non-null    object
 15  PEU3            816 non-null    object
 16  ENJ1            906 non-null    object
 17  ENJ2            896 non-null    object
 18  Qu1             906 non-null    object
 19  Qu2             903 non-null    object
 20  Qu3             898 non-null    object
 21  Qu4             891 non-null    object
 22  Qu5             884 non-null    object
 23  Vis1            841 non-null    object
 24  Vis2            796 non-null    object
 25  Vis3            905 non-null    object
 26  Im1             891 non-null    object
 27  Im2             893 non-null    object
 28  Im3             856 non-null    object
 29  SA1             902 non-null    object
 30  SA2             901 non-null    object
 31  SA3             902 non-null    object
 32  Use1            899 non-null    object
 33  Use2            896 non-null    object
 34  Use3            904 non-null    object
 35  Use4            890 non-null    object
 36  Use5            898 non-null    object
 37  Pf1             902 non-null    object
 38  Pf2             907 non-null    object
 39  Pf3             899 non-null    object
 40  JR1             886 non-null    object
 41  JR2             860 non-null    object
 42  BI1             881 non-null    object
 43  BI2             870 non-null    object
 44  Inc1            878 non-null    object
 45  Inc2            878 non-null    object
 46  Inc3            876 non-null    object
 47  Inc4            871 non-null    object
 48  Exp1            900 non-null    object
 49  Exp2            902 non-null    object
 50  Exp3            900 non-null    object
 51  Exp4            899 non-null    object
 52  Exp5            900 non-null    object
dtypes: int64(4), object(49)
memory usage: 378.2+ KB

In [37]:
#cambio phd e Other in bool

# University si indica l'uni di appartenenza
# se in UNI = 1 -> in UOC la posizione in UOC - probabilmente non hanno altri impieghi in altre uni
# se in UNI = 2 -> in UOC la posizione in UOC prob non esiste - hanno altri ruoli
#potrei percio creare una col con solo la posizione lavorativa


# tenere conto (sotto)

# maggior parte dei dati mancanti provengono dalla variabile "OTHER_POSITION".
# Questa variabile descrive il "lavoro come part-time in un'altra università e membri UPF".
# Questa è una domanda mal progettata in quanto non è applicabile
# alla maggior parte dei membri della facoltà e quindi non hanno risposto.
# Di conseguenza, rimuoveremo questa variabile dai dati per eliminare i dati mancanti sistematici.

In [38]:
# si potrebbe dividere anche in PROFESSORI E DOMANDE per poi riunirli con JOIN

# domande = data.iloc[:, 10:]
# prof = data.iloc[:, :10]

In [39]:
a = data['OTHER_POSITION'].dropna().astype(int)
a.describe()

count    652.000000
mean       1.588957
std        0.492401
min        1.000000
25%        1.000000
50%        2.000000
75%        2.000000
max        2.000000
Name: OTHER_POSITION, dtype: float64

In [40]:
b = data['OTHERSTATUS'].dropna().astype(int)
b.describe()

count    373.000000
mean       4.209115
std        2.225034
min        1.000000
25%        2.000000
50%        4.000000
75%        7.000000
max        7.000000
Name: OTHERSTATUS, dtype: float64

In [41]:
b[b[:] == 7].count()

107

In [42]:
data['YEARSEXP'] = data['YEARSEXP'].fillna(0)

data['UOC_POSITION'] = data['UOC_POSITION'].fillna(0)
data['OTHERSTATUS'] = data['OTHERSTATUS'].fillna(0)
data['OTHER_POSITION'] = data['OTHER_POSITION'].fillna(0)

# elimina righe  con domain e userwiki na, 5 righe in meno (domain si potrebbe considerare come altro)
data = data[(data['DOMAIN'].notna()) & (data['USERWIKI'].notna())]

data = data.astype({'AGE': 'int','GENDER': 'int','DOMAIN': 'int','PhD': 'int','YEARSEXP': 'int','UNIVERSITY': 'int','UOC_POSITION': 'int','OTHER_POSITION': 'int','OTHERSTATUS': 'int','USERWIKI': 'int'})

data.info()

# se si considera 7 come val buono
# data[:][(data["OTHERSTATUS"] == 0) & (data["UOC_POSITION"] == 0)].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 907 entries, 0 to 912
Data columns (total 53 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AGE             907 non-null    int32
 1   GENDER          907 non-null    int32
 2   DOMAIN          907 non-null    int32
 3   PhD             907 non-null    int32
 4   YEARSEXP        907 non-null    int32
 5   UNIVERSITY      907 non-null    int32
 6   UOC_POSITION    907 non-null    int32
 7   OTHER_POSITION  907 non-null    int32
 8   OTHERSTATUS     907 non-null    int32
 9   USERWIKI        907 non-null    int32
 10  PU1             900 non-null    object
 11  PU2             896 non-null    object
 12  PU3             902 non-null    object
 13  PEU1            903 non-null    object
 14  PEU2            893 non-null    object
 15  PEU3            811 non-null    object
 16  ENJ1            900 non-null    object
 17  ENJ2            890 non-null    object
 18  Qu1             900 non-null    object
 19  Qu2             897 non-null    object
 20  Qu3             892 non-null    object
 21  Qu4             886 non-null    object
 22  Qu5             878 non-null    object
 23  Vis1            836 non-null    object
 24  Vis2            792 non-null    object
 25  Vis3            899 non-null    object
 26  Im1             886 non-null    object
 27  Im2             889 non-null    object
 28  Im3             852 non-null    object
 29  SA1             897 non-null    object
 30  SA2             895 non-null    object
 31  SA3             896 non-null    object
 32  Use1            894 non-null    object
 33  Use2            892 non-null    object
 34  Use3            898 non-null    object
 35  Use4            885 non-null    object
 36  Use5            892 non-null    object
 37  Pf1             896 non-null    object
 38  Pf2             901 non-null    object
 39  Pf3             895 non-null    object
 40  JR1             882 non-null    object
 41  JR2             856 non-null    object
 42  BI1             877 non-null    object
 43  BI2             867 non-null    object
 44  Inc1            874 non-null    object
 45  Inc2            874 non-null    object
 46  Inc3            872 non-null    object
 47  Inc4            868 non-null    object
 48  Exp1            896 non-null    object
 49  Exp2            897 non-null    object
 50  Exp3            895 non-null    object
 51  Exp4            896 non-null    object
 52  Exp5            895 non-null    object
dtypes: int32(10), object(43)
memory usage: 347.2+ KB

In [43]:
# data["MAX POSITION"] = data[["UOC_POSITION", "OTHERSTATUS"]].max(axis=1)
# data[:][data["MAX POSITION"] == 0]

In [44]:
# data = data.drop([813,828,830,835,882])
# data = data.drop(columns=['UOC_POSITION', 'OTHERSTATUS', 'OTHER_POSITION'])

In [45]:
# se non si considera 7 come val buon

data['OTHERSTATUS'][ data['OTHERSTATUS'] > 6] = 0 # considero il 7 come "altro" percio non lo considero

position = data[["UOC_POSITION", "OTHERSTATUS"]].max(axis=1)
position[:].describe()
# max_position

<ipython-input-45-ae8ef9d916f7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['OTHERSTATUS'][ data['OTHERSTATUS'] > 6] = 0 # considero il 7 come "altro" percio non lo considero

count    907.000000
mean       4.996692
std        1.793104
min        0.000000
25%        4.000000
50%        6.000000
75%        6.000000
max        6.000000
dtype: float64

In [46]:
data.insert(loc=6, column='POSITION', value=position)
data = data.drop(columns=['UOC_POSITION', 'OTHERSTATUS', 'OTHER_POSITION'])
data = data[data['POSITION'] != 0] # professori che non hanno neanche un ruolo
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 871 entries, 0 to 912
Data columns (total 51 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AGE         871 non-null    int32
 1   GENDER      871 non-null    int32
 2   DOMAIN      871 non-null    int32
 3   PhD         871 non-null    int32
 4   YEARSEXP    871 non-null    int32
 5   UNIVERSITY  871 non-null    int32
 6   POSITION    871 non-null    int32
 7   USERWIKI    871 non-null    int32
 8   PU1         865 non-null    object
 9   PU2         861 non-null    object
 10  PU3         867 non-null    object
 11  PEU1        867 non-null    object
 12  PEU2        857 non-null    object
 13  PEU3        779 non-null    object
 14  ENJ1        865 non-null    object
 15  ENJ2        854 non-null    object
 16  Qu1         864 non-null    object
 17  Qu2         861 non-null    object
 18  Qu3         857 non-null    object
 19  Qu4         851 non-null    object
 20  Qu5         843 non-null    object
 21  Vis1        802 non-null    object
 22  Vis2        761 non-null    object
 23  Vis3        863 non-null    object
 24  Im1         851 non-null    object
 25  Im2         854 non-null    object
 26  Im3         820 non-null    object
 27  SA1         862 non-null    object
 28  SA2         859 non-null    object
 29  SA3         861 non-null    object
 30  Use1        858 non-null    object
 31  Use2        856 non-null    object
 32  Use3        862 non-null    object
 33  Use4        851 non-null    object
 34  Use5        856 non-null    object
 35  Pf1         860 non-null    object
 36  Pf2         867 non-null    object
 37  Pf3         859 non-null    object
 38  JR1         849 non-null    object
 39  JR2         823 non-null    object
 40  BI1         843 non-null    object
 41  BI2         833 non-null    object
 42  Inc1        839 non-null    object
 43  Inc2        839 non-null    object
 44  Inc3        838 non-null    object
 45  Inc4        833 non-null    object
 46  Exp1        860 non-null    object
 47  Exp2        861 non-null    object
 48  Exp3        860 non-null    object
 49  Exp4        860 non-null    object
 50  Exp5        859 non-null    object
dtypes: int32(8), object(43)
memory usage: 326.6+ KB

In [47]:
pd.DataFrame({ 'contain na ': data.isna().any() ,'number of na ': data.isna().sum() })

            contain na   number of na
AGE               False              0
GENDER            False              0
DOMAIN            False              0
PhD               False              0
YEARSEXP          False              0
UNIVERSITY        False              0
POSITION          False              0
USERWIKI          False              0
PU1                True              6
PU2                True             10
PU3                True              4
PEU1               True              4
PEU2               True             14
PEU3               True             92
ENJ1               True              6
ENJ2               True             17
Qu1                True              7
Qu2                True             10
Qu3                True             14
Qu4                True             20
Qu5                True             28
Vis1               True             69
Vis2               True            110
Vis3               True              8
Im1                True             20
Im2                True             17
Im3                True             51
SA1                True              9
SA2                True             12
SA3                True             10
Use1               True             13
Use2               True             15
Use3               True              9
Use4               True             20
Use5               True             15
Pf1                True             11
Pf2                True              4
Pf3                True             12
JR1                True             22
JR2                True             48
BI1                True             28
BI2                True             38
Inc1               True             32
Inc2               True             32
Inc3               True             33
Inc4               True             38
Exp1               True             11
Exp2               True             10
Exp3               True             11
Exp4               True             11
Exp5               True             12

In [48]:
# missin data su domande:
# - dropna (no - troppe eliminazioni)
# - media (se modello che vogliamo analizzare non ammette osservazioni mancanti - per alcune domande molti na - non mi convince)
# - metto tutti a 0 o 6 (opterei pre questa - vedere distribuzione  )

In [49]:
# lo mostro soltanto per vedere quante sono le righe complete
data.dropna()

,AGE,GENDER,DOMAIN,PhD,YEARSEXP,UNIVERSITY,POSITION,USERWIKI,PU1,PU2,PU3,PEU1,PEU2,PEU3,ENJ1,ENJ2,Qu1,Qu2,Qu3,Qu4,Qu5,Vis1,Vis2,Vis3,Im1,Im2,Im3,SA1,SA2,SA3,Use1,Use2,Use3,Use4,Use5,Pf1,Pf2,Pf3,JR1,JR2,BI1,BI2,Inc1,Inc2,Inc3,Inc4,Exp1,Exp2,Exp3,Exp4,Exp5
0,40,0,2,1,14,1,2,0,4,4,3,5,5,3,4,4,3,3,2,2,3,3,3,1,2,4,2,4,4,4,3,1,1,2,4,1,1,3,4,1,2,3,5,5,5,5,4,4,4,1,2
1,42,0,5,1,18,1,2,0,2,3,3,4,4,3,3,4,4,4,3,3,2,3,3,1,1,2,1,4,4,4,2,2,1,1,2,1,1,1,4,3,2,2,4,4,3,4,2,2,4,2,4
2,37,0,4,1,13,1,3,0,2,2,2,4,4,3,3,3,2,2,2,5,3,2,3,2,2,4,3,4,2,4,1,1,1,1,1,3,3,3,4,3,1,1,5,3,5,5,2,2,2,1,3
3,40,0,4,0,13,1,3,0,3,3,4,3,3,3,4,3,3,4,3,3,3,3,4,3,2,2,3,5,5,5,3,3,3,3,3,4,4,4,5,4,3,3,3,4,4,3,4,4,3,3,4
4,51,0,6,0,8,1,3,1,4,3,5,5,4,3,4,4,4,5,4,3,4,4,4,4,3,2,3,5,5,5,3,3,5,5,5,5,5,5,3,3,5,5,5,5,4,4,5,5,5,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,43,1,6,1,20,2,2,0,2,2,2,5,4,3,3,3,2,2,2,4,2,2,3,1,1,3,1,3,3,3,1,1,1,1,2,1,2,3,3,3,1,1,1,1,1,1,1,1,1,1,1
895,52,0,4,1,15,2,2,1,5,5,5,5,5,4,5,5,4,5,4,2,4,3,4,4,4,4,4,5,5,5,4,2,5,3,5,2,2,3,2,2,4,4,3,3,3,3,4,5,5,2,5
897,27,0,2,0,0,2,4,1,5,5,5,5,5,4,5,5,5,5,5,1,5,4,4,3,5,4,4,5,5,5,5,5,5,5,5,3,4,2,2,3,5,5,5,3,5,5,5,5,5,2,5
899,58,0,6,1,20,2,3,0,2,3,3,4,4,4,4,4,2,2,2,3,2,2,2,2,2,2,2,3,4,4,2,1,2,2,3,2,2,2,4,3,2,2,3,4,4,3,3,3,3,1,2
901,34,1,6,1,10,2,4,0,3,4,4,5,4,4,4,4,3,4,1,3,3,2,4,1,3,4,4,5,5,5,3,1,1,2,3,1,3,1,2,1,1,1,5,5,3,4,4,4,5,1,1

In [50]:
# dataset con almento un na
# datana = data[data.isna().any(1)]
# datana

In [51]:
# data = data.dropna()
# data.info()

In [52]:
# data.pivot_table('PhD', index=['GENDER'], columns='UNIVERSITY')